.sub-header {
    font-style: italic;
}

.orange {
     border-top: 1px solid orange;
}

.submit-app {
    width: 50%;
    font-size: 20px;
}

.login {
    font-size: 30px;
}

.cm-10 {
    margin-left: -10px;
}

.cat-desc {
    color: grey;
    font-weight: strong;

}

#bioviz-url {
    display:none;
}
